* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

header {
    background-color: #372fc4;
    color: rgb(255, 255, 255);
    padding: 30px 0;
    text-align: center;
    font: size 40px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 13px;
    margin-left: 13px;
    transition: color 0.3s;
}

header nav a:hover {
    color: rgb(1, 10, 69)
}

header nav {
    margin-top: 10px;
}

footer {
    background-color:#372fc4;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    
}

.alfa-slab-one-regular {

  font-weight: 500;
  font-style: normal;
}

body {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
   -webkit-box-shadow: 1px 1px 13px 4px #808080; 
    box-shadow: 1px 1px 13px 4px #808080;
    width: 1300px;
    background-color:#4d53bf3e;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 40px;
    flex: 1 0 auto;
}


.noticiap img {
    -webkit-box-shadow: 1px 1px 13px 4px #808080; 
    box-shadow: 1px 1px 13px 4px #808080;
    width: 700px;
    border-radius: 10px;
}

.noticiap {
    background-color: #4d53bf52;
    padding: 30px 20px;
    border-radius: 10px;
}

.noticiap h2 {
    margin-top: 2px;
    margin-bottom:6px;
}
.series img {
    width: 300px;
    height: 300px;
    object-fit: cover;

}
.series {
    width: 250px;
    background-color: #4d53bf52;
    padding: 30px;
}
.series {
    width: 350px;
}
.container-noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    
}
.menu-mobile, .icone-menu {
    display: none;
}
.menu-ativo {
    display: block;
}

@media (max-width: 1024px) {
  main {
    width: 75vw;
  }

  .series {
    width: 28.5%;
  }

  .series img {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .container-noticias {
    flex-direction: column;
    width: 87%;
  }

  .series {
    width: 100%;
    margin-bottom: 20px;
  }

  .series img {
    height: 100%;
  }

  .noticiap img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  header nav {
    display: none;
  }

  .menu-mobile nav {
    display: flex;
    flex-direction: column;
  }

  .menu-mobile nav a {
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.505);
  }

  header h1 {
    font-size: 25px;
    text-align: left;
  }

  header {
    padding: 20px 30px;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
  }

  .header-mobile img {
    width: 30px;
  }

  .header-mobile img:hover {
    cursor: pointer;
  }

  .icone-menu {
    display:flex
  }
}

@media (max-width: 500px) {
  main {
    width: 75vw;
  }
}

footer {
    padding: 20px 15px;
    font-size: 18px
}


